@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

.searchLocationBar {
  height: 40px;
  width: 645px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding: 3px 10px;
}

.searchLocationBar::placeholder {
  color: white;
  opacity: 1;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}

.searchLocationBar:focus {
  outline: none;
}
